/* General container for the about page */
.about-container {
  background-color: #204b43; /* Light background color for the page */
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

/* Hero section that includes text and image */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #204b43; /* Dark green background color */
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    padding: 40px;
  }
}

/* Text container with title and paragraphs */
.content-container {
  flex: 1;
  color: #ffffff; /* White text color for contrast */
  margin-right: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .content-container {
    text-align: left;
  }
}

/* Title style for the hero section */
.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

/* Paragraph text style */
.hero-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Button style */
.learn-more-button {
  background-color: #fbcf60; /* Gold color */
  color: #1b2e3a; /* Dark text color for contrast */
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
}

.learn-more-button:hover {
  background-color: #e8b950;
}

/* Image container for the hero image */
.image-container {
  flex: 1;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .image-container {
    margin-top: 0;
  }
}

/* Hero image style */
#about-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stats section styles */
.stats-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #204b43; /* White background for contrast */
  padding: 30px 0;
  border-radius: 10px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  text-align: center;
  max-width: 200px;
}

.kijiji-logo{
  color: #efe2be;
}
#kijiji {
  height: 40px; /* Set height to make the logo smaller */
  margin-bottom: 10px;
}

.stat-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #E7C873; /* Dark text color for emphasis */
  margin-bottom: 5px;
}

.stat-text {
  font-size: 0.9rem;
  color: #efe2be; /* Gray text color */
}
