/* About.css */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #EBE9D5; /* Light background color for contrast */
    padding: 20px;
  }

  .about-content {
    margin-top: 100px;
    max-width: 800px;
    background-color: #ffffff; /* White background for the content area */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

  .about-content h2 {
    text-align: center;
    color: #333333; /* Dark text color for readability */
  }

  .about-content h3 {
    margin-top: 20px;
    color: #555555;
  }

  .about-content p, .about-content ul {
    margin: 10px 0;
    line-height: 1.6;
    color: #666666;
  }

  .about-content ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .about-content ul li {
    margin-bottom: 10px;
  }

  #vicky {
    width: 1500px;
  }