/* Login.css */

.page-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe9d5; /* Tailwind's bg-gray-100 */
    flex-direction: column;
  }
  
  .login-box {
    background-color: #ffffff; /* Tailwind's bg-white */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Tailwind's shadow-lg */
    border-radius: 0.5rem; /* Tailwind's rounded-lg */
    padding: 2.5rem; /* Tailwind's p-10 */
    max-width: 28rem; /* Tailwind's max-w-md */
    width: 100%;
    text-align: center;
  }
  
  .login-heading {
    font-size: 1.875rem; /* Tailwind's text-3xl */
    font-weight: 600; /* Tailwind's font-semibold */
    margin-bottom: 2rem; /* Tailwind's mb-8 */
  }
  
  .google-login {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Tailwind's mt-4 */
  }
  
  .logo {
    width: 150px;
    margin-bottom: 1.5rem; /* Tailwind's mb-6 */
  }
  
  .signup-button {
    background-color: #E7C873;
    color: #ffffff;
    padding: 0.75rem 1.5rem; /* Tailwind's py-3 px-6 */
    border: none;
    border-radius: 0.25rem; /* Tailwind's rounded */
    font-size: 1rem; /* Tailwind's text-base */
    font-weight: 600; /* Tailwind's font-semibold */
    cursor: pointer;
    margin-top: 1rem; /* Tailwind's mt-4 */
    width: 100%;
  }
  
  .signup-button:hover {
    background-color: #e1c067; /* Slightly darker gold for hover effect */
  }
  
  .input-field {
    width: 90%;
    padding: 0.5rem; /* Tailwind's p-2 */
    margin-bottom: 1rem; /* Tailwind's mb-4 */
    border: 1px solid #ddd; /* Light border */
    border-radius: 0.25rem; /* Tailwind's rounded */
  }
  
  .mt-4 {
    margin-top: 15px;
  }